body{
    font-family: Arial;
    color:white;
    font-size: 20px;
    background-color: rgb(104, 103, 103);
}

<<<<<<< HEAD
.Container{
    position: relative;

}

.Library{
    background-color: rgb(66, 132, 212);
    position: absolute;
    visibility: visible;
    display: grid;
    width: 600px;
    grid-template-columns: 3fr 1fr;
    row-gap: 30px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 5px 5px 12px rgba(0,0,0,0.5);
    margin-left: 32%;
}

button{
    background-color: white;
    border: 1px solid white;
    color: rgb(66, 132, 212);
    border-radius: 40px;
    font-size: 20px;
    cursor: pointer;
    height: 60px;
}



.HiddenForm{
    visibility: visible; /*very importend --> when clicking button let this div appear!*/
    width: 280px;
    background-color: rgb(66, 132, 212);
    border-radius: 15px;
    border: 1px rgb(66, 132, 212) solid;
    box-shadow: 5px 5px 12px rgba(0,0,0,0.5);
    padding: 20px;
    z-index: 9;
    margin: 0;
    margin-left: 40%;
    margin-top: 10%;
}

.text, input, label{
=======
.HiddenForm{
    visibility: visible; /*very importend --> when clicking button let this div appear!*/
    margin: 0 auto;
    width: 280px;
    justify-content: center;
    margin-top: 10%;
    background-color: rgb(66, 132, 212);
    border: 1px rgb(66, 132, 212) solid;
    box-shadow: 5px 5px 12px rgba(0,0,0,0.5);
    border-radius: 15px;
    padding: 20px;
}

p, input, label{
>>>>>>> 0fa7eaebd4d948e516fa10349232c4db21de6e8f
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}
